<div class="jumbotron">
    <h1>Credit System</h1>
</div>

<div class="col progress-striped">
    <div class="col-md-4">
        <h2>Contact</h2>
        <li>
            <o>Abdul Rais</o>
        </li>
        <li>
            <o>Asad Siddiqui</o>
        </li>
        <li>
            <o>Ganesh Jaiswal</o>
        </li>
        <li>
            <o>Sidharth</o>
        </li>
    </div>
</div>
